Source: ros-indigo-ridgeback-gazebo
Section: misc
Priority: extra
Maintainer: Mike Purvis <mpurvis@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-roslaunch
Homepage: http://wiki.ros.org/ridgeback_gazebo
Standards-Version: 3.9.2

Package: ros-indigo-ridgeback-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-gazebo-plugins, ros-indigo-gazebo-ros, ros-indigo-gazebo-ros-control, ros-indigo-hector-gazebo-plugins, ros-indigo-ridgeback-control, ros-indigo-ridgeback-description (>= 0.1.6), ros-indigo-ridgeback-gazebo-plugins
Description: Launchfiles to use Ridgeback in Gazebo.
